//footer desktop
@media only screen and (min-width: 601px) {
  .footer {
    padding: 80px 0;
  }
  .container-footer {
    display: flex;
    flex-direction: column;
  }
  .footer-text-1 {
    text-align: center;
    font-size: 10px;
    color: $border;
    background: $background;
  }
  .footer-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px;
  }
  .footer-button-1 {
    background: none;
    color: $shadow;
    border: none;
    margin: 10px 20px;
    font-size: 25px;
  }
  .footer-button-1:hover {
    cursor: pointer;
    color: $main-green;
    transition: ease-in-out 0.3s;
  }
  .icons-box {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-text-2 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .icons1 {
    display: flex;
  }
  .footer-icon {
    margin: 15px;
  }
  .footer-text-3 {
    font-size: 12px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
  }
  .icons2 {
    display: flex;
  }
  .icons2 > img {
    margin: 10px;
    height: 50%;
    width: 50%;
  }
  .social-icons {
    text-align: center;
  }
  .social-icon-1 {
    z-index: +1;
    padding-left: 15px;
  }
  .social-icon-1:hover {
    filter: invert(22%) sepia(79%) saturate(2476%) hue-rotate(86deg)
      brightness(118%) contrast(119%);
    transition: ease-in-out 0.5s;
  }
  .footer-cr {
    margin-top: 50px;
    font-size: 14px;
    color: $shadow;
  }
}
//footer mobile
@media only screen and (max-width: 600px) {
  .footer {
    padding: 20px 0;
  }
  .container-footer {
    display: flex;
    flex-direction: column;
  }
  .footer-text-1 {
    text-align: center;
    font-size: 13px;
    padding: 0px 20px;
    color: $border;
  }
  .footer-buttons {
    text-align: center;
    display: inline-block;
    width: 100%;
  }
  .footer-button-1 {
    background: none;
    display: inline-block;
    color: $shadow;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
    width: 100%;
    padding-right: 0px;
  }
  .footer-button-1:hover {
    color: $shadow;
  }
  .icons-box {
    margin-top: 30px;
    text-align: center;
  }
  .footer-text-2 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .icons1 {
    margin: 0px 20px;
    margin-bottom: 30px;
  }
  .footer-icon {
    margin: 10px;
  }
  .footer-text-3 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .icons2 {
    margin: 0px 0px 20px 0px;
    padding: 0px;
  }
  .icons2 > img {
    margin: 10px;
  }
  .social-icons {
    text-align: center;
    margin: 20px 50px;
  }
  .social-icons > img {
    z-index: +1;
    margin: 20px;
    width: 30px;
    height: 30px;
  }
  .social-icon-1:hover {
    color: black;
  }
  .footer-cr {
    margin-top: 50px;
    font-size: 14px;
    color: $shadow;
  }
}
