$background: #ffffff;
$secondarybackgr: #b08f6d;
$tertiarybackgr: #fefaf2;
$main-green: #23b21f;
$circle-background: #fff9f0;
$border: #707070;
$shadow: #d8d8d8;
$dark: #000000;
$dark-grey: #333333;
$light-grey: #b9b9b9;
$btn-color: #95e4f5;
$phone-width: 375px;
$desktop-width: 1024px;
